button, h1, li, ul {
    margin: 0;
    padding: 0
}

button {
    border: none;
    background: 0 0
}

body {
    background: #202124
}

body, button, input {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #bdc1c6
}

a {
    color: #8ab4f8;
    text-decoration: none
}

a:active, a:hover {
    text-decoration: underline
}

body, html {
    min-width: 400px
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0
}

@-webkit-keyframes gb__a {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@keyframes gb__a {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

.gb_p {
    display: none !important
}

.gb_1a {
    visibility: hidden
}

x:-o-prefocus {
    border-bottom-color: #ccc
}

.gb_5 {
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, .2);
    color: #000;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    display: none;
    outline: 0;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 62px;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    border-radius: 2px;
    -webkit-user-select: text
}

.gb_7a .gb_5 {
    margin-top: -10px
}

.gb_5 {
    z-index: 991;
    line-height: normal
}

.gb_5.gb_1d {
    left: 0;
    right: auto
}

@media (max-width: 350px) {
    .gb_5.gb_1d {
        left: 0
    }
}

.gb_2d .gb_5 {
    top: 56px
}

.gb_o {
    display: none
}

.gb_td {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.gb_ud {
    height: 64px
}

.gb_fd {
    padding-right: 30px;
    box-sizing: border-box;
    -webkit-flex: 1 0 auto;
    -webkit-box-flex: 1;
    flex: 1 0 auto
}

.gb_Fd {
    font-size: 14px;
    max-width: 200px;
    overflow: hidden;
    padding: 0 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-user-select: text
}


.gb_U {
    color: rgba(0, 0, 0, .87)
}

.gb_l {
    display: none
}

.gb_n {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0
}

.gb_2a {
    background-color: #e8f0fe;
    border: 1px solid rgba(32, 33, 36, .08);
    position: relative
}

.gb_2a.gb_n {
    height: 30px;
    width: 30px
}

.gb_2a.gb_n:active, .gb_2a.gb_n:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.gb_3a {
    background: #fff;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    bottom: 2px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    height: 14px;
    margin: 2px;
    position: absolute;
    right: 0;
    width: 14px
}

.gb_4a {
    color: #1f71e7;
    font: 400 22px/32px Google Sans, Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase
}

@media (-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 1.25dppx),(min-device-pixel-ratio: 1.25) {
    .gb_5a::before, .gb_n::before {
        display: inline-block;
        -webkit-transform: scale(.5);
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: left 0;
        -webkit-transform-origin: left 0;
        transform-origin: left 0
    }

    .gb_M .gb_5a::before {
        -webkit-transform: scale(scale(.416666667));
        -webkit-transform: scale(scale(.416666667));
        transform: scale(scale(.416666667))
    }
}

.gb_n:focus, .gb_n:hover {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15)
}

.gb_n:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15)
}

.gb_n:active::after {
    background: rgba(0, 0, 0, .1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%
}

.gb_6a {
    cursor: pointer;
    line-height: 40px;
    min-width: 30px;
    opacity: .75;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis
}


.gb_6a:focus, .gb_6a:hover {
    opacity: .85
}

.gb_7a .gb_6a, .gb_7a .gb_8a {
    line-height: 26px
}

#gb#gb.gb_7a a.gb_6a, .gb_7a .gb_8a {
    font-size: 11px;
    height: auto
}

.gb_9a {
    border-top: 4px solid #000;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    display: inline-block;
    margin-left: 6px;
    opacity: .75;
    vertical-align: middle
}

.gb_ab.gb_1a {
    color: #fff
}

.gb_K .gb_6a, .gb_K .gb_9a {
    opacity: 1
}

#gb#gb .gb_K.gb_K a.gb_6a, #gb#gb.gb_K.gb_K a.gb_6a {
    color: #fff
}

.gb_K.gb_K .gb_9a {
    border-top-color: #fff;
    opacity: 1
}


.gb_q {
    display: none
}

@-webkit-keyframes g-snackbar-show {
    from {
        pointer-events: none;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

@keyframes g-snackbar-show {
    from {
        pointer-events: none;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

@-webkit-keyframes g-snackbar-hide {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes g-snackbar-hide {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes g-snackbar-show-content {
    from {
        opacity: 0
    }
}

@keyframes g-snackbar-show-content {
    from {
        opacity: 0
    }
}

@-webkit-keyframes g-snackbar-hide-content {
    to {
        opacity: 0
    }
}

@keyframes g-snackbar-hide-content {
    to {
        opacity: 0
    }
}

g-img {
    display: block
}

g-img {
    height: 100%
}

@-webkit-keyframes g-bubble-show {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes g-bubble-show {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes g-bubble-hide {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes g-bubble-hide {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes shape-tween-right {
    50% {
        -webkit-transform: scaleY(.9) translateX(8%);
        transform: scaleY(.9) translateX(8%)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes shape-tween-right {
    50% {
        -webkit-transform: scaleY(.9) translateX(8%);
        transform: scaleY(.9) translateX(8%)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes shape-tween-left {
    50% {
        -webkit-transform: scaleY(.9) translateX(-8%);
        transform: scaleY(.9) translateX(-8%)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes shape-tween-left {
    50% {
        -webkit-transform: scaleY(.9) translateX(-8%);
        transform: scaleY(.9) translateX(-8%)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes shape-tween-up {
    50% {
        -webkit-transform: scaleX(.9) translateY(-8%);
        transform: scaleX(.9) translateY(-8%)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes shape-tween-up {
    50% {
        -webkit-transform: scaleX(.9) translateY(-8%);
        transform: scaleX(.9) translateY(-8%)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes shape-tween-down {
    50% {
        -webkit-transform: scaleX(.9) translateY(8%);
        transform: scaleX(.9) translateY(8%)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes shape-tween-down {
    50% {
        -webkit-transform: scaleX(.9) translateY(8%);
        transform: scaleX(.9) translateY(8%)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@-webkit-keyframes shift {
    25% {
        background: #e8eaed
    }
}

@keyframes shift {
    25% {
        background: #e8eaed
    }
}

.mWcf0e {
    cursor: pointer
}

.VfL2Y {
    position: relative
}

.LRZwuc {
    display: inline-block
}

.CcNe6e {
    cursor: pointer;
    display: inline-block
}

@-webkit-keyframes qli-container-rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes qli-container-rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes qli-fill-unfill-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }
    100% {
        -webkit-transform: rotate(3turn);
        transform: rotate(3turn)
    }
}

@keyframes qli-fill-unfill-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }
    100% {
        -webkit-transform: rotate(3turn);
        transform: rotate(3turn)
    }
}

@-webkit-keyframes qli-blue-fade-in-out {
    0% {
        opacity: .99
    }
    25% {
        opacity: .99
    }
    26% {
        opacity: 0
    }
    89% {
        opacity: 0
    }
    90% {
        opacity: .99
    }
    100% {
        opacity: .99
    }
}

@keyframes qli-blue-fade-in-out {
    0% {
        opacity: .99
    }
    25% {
        opacity: .99
    }
    26% {
        opacity: 0
    }
    89% {
        opacity: 0
    }
    90% {
        opacity: .99
    }
    100% {
        opacity: .99
    }
}

@-webkit-keyframes qli-red-fade-in-out {
    0% {
        opacity: 0
    }
    15% {
        opacity: 0
    }
    25% {
        opacity: .99
    }
    50% {
        opacity: .99
    }
    51% {
        opacity: 0
    }
}

@keyframes qli-red-fade-in-out {
    0% {
        opacity: 0
    }
    15% {
        opacity: 0
    }
    25% {
        opacity: .99
    }
    50% {
        opacity: .99
    }
    51% {
        opacity: 0
    }
}

@-webkit-keyframes qli-yellow-fade-in-out {
    0% {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: .99
    }
    75% {
        opacity: .99
    }
    76% {
        opacity: 0
    }
}

@keyframes qli-yellow-fade-in-out {
    0% {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: .99
    }
    75% {
        opacity: .99
    }
    76% {
        opacity: 0
    }
}

@-webkit-keyframes qli-green-fade-in-out {
    0% {
        opacity: 0
    }
    65% {
        opacity: 0
    }
    75% {
        opacity: .99
    }
    90% {
        opacity: .99
    }
    100% {
        opacity: 0
    }
}

@keyframes qli-green-fade-in-out {
    0% {
        opacity: 0
    }
    65% {
        opacity: 0
    }
    75% {
        opacity: .99
    }
    90% {
        opacity: .99
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes qli-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    100% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
}

@keyframes qli-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    100% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
}

@-webkit-keyframes qli-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    100% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
}

@keyframes qli-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    100% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
}

.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px
}

.z1asCe svg {
    display: block;
    height: 100%;
    width: 100%
}

.gb_2e {
    background: rgba(60, 64, 67, .9);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font: 500 12px Roboto, arial, sans-serif;
    letter-spacing: .8px;
    line-height: 16px;
    margin-top: 4px;
    min-height: 14px;
    padding: 4px 8px;
    position: absolute;
    z-index: 1000;
    -webkit-font-smoothing: antialiased
}

.gb_Ec {
    text-align: left
}

.gb_Ec > * {
    color: #bdc1c6;
    line-height: 16px
}

.gb_Ec div:first-child {
    color: #fff
}

.gb_pa {
    box-shadow: 0 -1px 2px 0 rgba(60, 64, 67, .3), 0 -2px 6px 2px rgba(60, 64, 67, .15);
    height: calc(100% - 16px);
    left: 0;
    margin: 8px;
    position: absolute;
    top: 0;
    width: calc(100% - 16px)
}

@-webkit-keyframes qli-container-rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes qli-container-rotate {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes qli-fill-unfill-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }
    100% {
        -webkit-transform: rotate(3turn);
        transform: rotate(3turn)
    }
}

@keyframes qli-fill-unfill-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }
    100% {
        -webkit-transform: rotate(3turn);
        transform: rotate(3turn)
    }
}

@-webkit-keyframes qli-blue-fade-in-out {
    0% {
        opacity: .99
    }
    25% {
        opacity: .99
    }
    26% {
        opacity: 0
    }
    89% {
        opacity: 0
    }
    90% {
        opacity: .99
    }
    100% {
        opacity: .99
    }
}

@keyframes qli-blue-fade-in-out {
    0% {
        opacity: .99
    }
    25% {
        opacity: .99
    }
    26% {
        opacity: 0
    }
    89% {
        opacity: 0
    }
    90% {
        opacity: .99
    }
    100% {
        opacity: .99
    }
}

@-webkit-keyframes qli-red-fade-in-out {
    0% {
        opacity: 0
    }
    15% {
        opacity: 0
    }
    25% {
        opacity: .99
    }
    50% {
        opacity: .99
    }
    51% {
        opacity: 0
    }
}

@keyframes qli-red-fade-in-out {
    0% {
        opacity: 0
    }
    15% {
        opacity: 0
    }
    25% {
        opacity: .99
    }
    50% {
        opacity: .99
    }
    51% {
        opacity: 0
    }
}

@-webkit-keyframes qli-yellow-fade-in-out {
    0% {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: .99
    }
    75% {
        opacity: .99
    }
    76% {
        opacity: 0
    }
}

@keyframes qli-yellow-fade-in-out {
    0% {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: .99
    }
    75% {
        opacity: .99
    }
    76% {
        opacity: 0
    }
}

@-webkit-keyframes qli-green-fade-in-out {
    0% {
        opacity: 0
    }
    65% {
        opacity: 0
    }
    75% {
        opacity: .99
    }
    90% {
        opacity: .99
    }
    100% {
        opacity: 0
    }
}

@keyframes qli-green-fade-in-out {
    0% {
        opacity: 0
    }
    65% {
        opacity: 0
    }
    75% {
        opacity: .99
    }
    90% {
        opacity: .99
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes qli-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    100% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
}

@keyframes qli-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    100% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
}

@-webkit-keyframes qli-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    100% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
}

@keyframes qli-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    100% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
}

.FPdoLc {
    padding-top: 18px;
    display: flex;
    justify-content: center
}


.M8H8pb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: inherit;
    width: inherit
}

.QCzoEc {
    margin-top: 3px;
    color: #9aa0a6
}

.gLFyf {
    line-height: 34px;
    font-size: 16px;
    flex: 100%
}

textarea.gLFyf {
    font-family: arial, sans-serif;
    line-height: 22px;
    margin-bottom: 8px;
    overflow-x: hidden
}

.gLFyf {
    resize: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: #e8eaed;
    word-wrap: break-word;
    outline: 0;
    display: flex;
    -webkit-tap-highlight-color: transparent
}

.a4bIc {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 6px
}

.dRYYxd {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
    height: 44px
}

.BKRPef {
    background: 0 0;
    align-items: center;
    flex: 1 0 auto;
    flex-direction: row;
    display: flex;
    cursor: pointer
}

.vOY7J {
    background: 0 0;
    border: 0;
    align-items: center;
    flex: 1 0 auto;
    cursor: pointer;
    display: none;
    height: 100%;
    line-height: 44px;
    outline: 0;
    padding: 0 12px
}

.ExCKkf {
    height: 100%;
    color: #9aa0a6;
    vertical-align: middle;
    outline: 0
}

.BKRPef {
    padding-right: 4px
}

.ACRAdd {
    border-left: 1px solid #5f6368;
    height: 65%
}

.ACRAdd {
    display: none
}

.Umvnrc {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: 0 0;
    outline: 0;
    padding: 0 8px;
    width: 24px;
    line-height: 44px
}

.ly0Ckb {
    background: url(//www.gstatic.com/inputtools/images/tia.png) no-repeat center;
    height: 24px;
    width: 24px;
    vertical-align: middle
}

.yAnw3c {
    visibility: hidden
}

.XDyW0e {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: 0 0;
    outline: 0;
    padding: 0 8px;
    width: 24px;
    line-height: 44px
}

.goxjub {
    height: 24px;
    width: 24px;
    vertical-align: middle
}

.nDcEnd {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: 0 0;
    outline: 0;
    padding: 0 8px;
    width: 24px;
    line-height: 44px
}

.Gdd5U {
    height: 24px;
    width: 24px;
    vertical-align: middle
}

.UUbT9 {
    position: absolute;
    text-align: left;
    z-index: 3;
    cursor: default;
    -webkit-user-select: none;
    width: 100%;
    margin-top: -1px
}

.aajZCb {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #303134;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 4px 6px 0 #171717;
    border: 0;
    padding-bottom: 4px
}

.mkHrUc {
    display: flex
}

.erkvQe {
    padding-bottom: 8px;
    flex: auto;
    overflow-x: hidden
}

.RjPuVb {
    height: 1px;
    margin: 0 26px 0 0
}

.xtSCL {
    border-top: 1px solid #5f6368;
    margin: 0 20px 0 14px;
    padding-bottom: 4px
}

.ky4hfd {
    display: none
}

.YB4h9 {
    background-color: #8ab4f8;
    color: #202124;
    padding: 18px 60px 18px 12px;
    position: relative
}

.C85rO {
    font-size: 20px
}

.YB4h9 .Job8vb {
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0
}

#shJ2Vb {
    display: none
}

.OBMEnb {
    padding: 0;
    margin: 0
}

.G43f7e {
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 0;
    margin: 0;
    list-style: none
}

#ynRric {
    display: none
}

.ynRric {
    list-style-type: none;
    flex-direction: column;
    color: #9aa0a6;
    font-family: Google Sans, arial, sans-serif-medium, sans-serif;
    font-size: 14px;
    margin: 0 20px 0 16px;
    padding: 8px 0 8px 0;
    line-height: 16px;
    width: 100%
}

.sbct {
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
    padding: 0
}

.eIPGRd {
    flex: auto;
    display: flex;
    align-items: center;
    margin: 0 20px 0 14px
}

.pcTkSc {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-width: 0;
    padding: 6px 0
}

.sbic {
    display: flex;
    align-items: center;
    margin: 0 13px 0 1px
}

.ClJ9Yb {
    line-height: 12px;
    font-size: 13px;
    color: #9aa0a6;
    margin-top: 2px;
    padding-right: 8px
}

.wM6W7d {
    display: flex;
    font-size: 16px;
    color: #e8eaed;
    flex: auto;
    align-items: center;
    word-break: break-word;
    padding-right: 8px
}

.wM6W7d span {
    flex: auto
}

.AQZ9Vd {
    display: flex;
    align-self: stretch
}

.iQxPRb {
    display: flex;
    gap: 2px
}

#YMXe {
    display: none
}

.MagqMc .ZFiwCf {
    background-color: #303134;
    border: 1px solid #3c4043;
    width: 100%
}

.MagqMc.U48fD {
    padding: 0;
    margin-top: 16px
}

.MagqMc .Bi9oQd {
    display: none
}

.MagqMc {
    padding: 0
}

.MagqMc:hover .LGwnxb {
    color: #e8eaed
}

.U48fD {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    display: block;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 16px;
    padding-top: 0;
    margin-top: 24px;
    position: relative
}

.ZFiwCf {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    font-size: 14px;
    font-family: arial, sans-serif;
    font-weight: 400;
    width: 100%;
    max-width: 300px;
    height: 36px;
    border-radius: 18px;
    outline: 1px solid transparent;
    background-color: #303134
}

@media (forced-colors: active) {
    .ZFiwCf {
        border: 1px solid transparent
    }
}

.ZFiwCf:hover {
    background-color: #303134
}

.Bi9oQd {
    background-color: #3c4043;
    margin-top: 18px;
    position: absolute;
    border: 0;
    height: 1px;
    left: 0;
    width: 100%
}

.w2fKdd svg {
    width: auto
}

.w2fKdd {
    color: #9aa0a6
}

.LGwnxb {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    padding-left: 0;
    padding-right: 8px;
    max-width: 200px;
    color: #e8eaed
}

.LGwnxb:empty {
    padding-right: 0
}

.LGwnxb div, .LGwnxb span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto
}

@media (hover: hover) {
    .sbai {
        visibility: hidden
    }
}

#d6ItKb {
    display: none
}

.AB2Fdd {
    display: flex
}

.ZDHp {
    position: relative;
    margin: 20px;
    display: flex
}

.ZDHp .SHFPkb {
    margin-bottom: 12px
}

.ZDHp .HrUlUc, .ZDHp .PnfqLc {
    font-size: 18px;
    line-height: 24px
}

.ZDHp .bTSf5c {
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 6px
}

.ZDHp .HrUlUc, .ZDHp .PnfqLc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.Vlt3wb {
    font-style: normal;
    font-family: arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding-top: 8px;
    margin-top: 12px;
    color: #bdc1c6;
    border-top: 1px solid #5f6368;
    display: flex;
    width: 100%
}

.Tnv2td {
    position: absolute;
    top: 0;
    right: 0
}

.z76Rnb {
    padding: 6px;
    width: 24px;
    height: 24px;
    background-color: #303134;
    color: #9aa0a6;
    border-radius: 9999px;
    border: 1px solid #3c4043;
    cursor: pointer
}

.kZtr1b {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0
}

.XAFD5c {
    width: 200px;
    height: 200px;
    background-color: #303134;
    border-radius: 20px;
    margin-left: 20px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

.ZDHp .lnnVSe {
    font-size: 18px;
    flex-grow: 1
}

.ZDHp .HrUlUc, .ZDHp .PnfqLc {
    display: flex;
    flex-direction: column
}

#mitGyb {
    display: none
}

#TN4rFf {
    display: none
}

.IDVnvc {
    display: inline-block;
    overflow: hidden;
    max-width: 223px;
    border-radius: 16px;
    height: 178px;
    margin: -2px -10px 2px 10px
}

.OBMEnb:only-child .IDVnvc {
    margin-right: calc(25% - 113px)
}

.cRV9hb {
    width: 90px;
    padding: 6px
}

.cRV9hb .pcTkSc {
    font-family: arial, sans-serif;
    overflow: hidden;
    margin-top: 4px;
    padding: 0
}

.cRV9hb .pcTkSc .wM6W7d {
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    color: #bdc1c6
}

.cRV9hb .pcTkSc .ClJ9Yb {
    line-height: 16px;
    font-size: 12px;
    display: none;
    display: flex
}

.cRV9hb .pcTkSc .ClJ9Yb span, .cRV9hb .pcTkSc .wM6W7d span {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal
}

.cRV9hb .pcTkSc .wM6W7d span {
    -webkit-line-clamp: 2
}

.cRV9hb .pcTkSc .ClJ9Yb span {
    -webkit-line-clamp: 2
}

.aVbWac {
    background: #fff;
    border-radius: 12px;
    height: 90px
}

.lJ9FBc {
    height: 70px
}

.lJ9FBc input[type=submit] {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none
}

.lJ9FBc input[type=submit]:hover {
    box-shadow: 0 1px 3px rgba(23, 23, 23, .24);
    background-color: #303134;
    border: 1px solid #5f6368;
    color: #e8eaed
}

.lJ9FBc input[type=submit]:focus {
    border: 1px solid #5f6368;
    outline: 0
}

.aajZCb .lJ9FBc input, .aajZCb .lJ9FBc input:hover {
    background: #3c4043
}

.MG7lrf {
    font-size: 8pt;
    margin-top: -16px;
    position: absolute;
    right: 16px
}

#TWnylf {
    display: none
}

.KxWPre {
    display: flex;
    justify-content: flex-start;
    padding-right: 12px;
    margin: 8px 0 4px
}

.E2ShOd {
    font-family: Google Sans, arial, sans-serif-medium, sans-serif;
    line-height: 16px;
    color: #9aa0a6;
    font-weight: 500;
    font-size: 14px;
    text-align: center
}

.VUsake {
    flex: 1
}

.KxWPre {
    padding-right: 18px;
    padding-left: 14px;
    align-items: center
}

.E2ShOd {
    margin: 0 20px 0 0
}

#dh215c {
    display: none
}

.zs1JGd {
    padding: 4px 0;
    display: flex;
    align-items: center;
    min-width: 0
}

.JqPLlb {
    font-size: 16px;
    color: #9aa0a6;
    flex: 1;
    align-items: center;
    word-break: break-word
}

.zs1JGd {
    cursor: pointer;
    margin-left: 14px
}

.JqPLlb {
    padding: 6px 0;
    color: #9aa0a6
}

.uU7dJb {
    padding: 15px 30px;
    border-bottom: 1px solid #3c4043;
    font-size: 15px;
    color: #e8eaed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.SSwjIe {
    padding: 0 20px
}

.KxwPGc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

@media only screen and (max-width: 1200px) {
    .KxwPGc {
        justify-content: space-evenly
    }
}

.pHiOh {
    display: block;
    padding: 15px;
    white-space: nowrap
}

.pHiOh, a.pHiOh {
    color: #e8eaed
}

.ayzqOc:hover {
    text-decoration: underline
}
